In [1]:
# Import the Pandas library
import pandas as pd
import csv

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float
from datetime import datetime 

from sqlalchemy import Column, Integer, String, Numeric, Text, Float, Date

Base = declarative_base()

In [2]:
measurement_df= pd.read_csv('./Clean_HawaiiMeasurementsRawData.csv')
station_df= pd.read_csv('./Clean_HawaiiStationsRawData.csv')

In [3]:
# measurement_df['date'] =  pd.to_datetime(measurement_df['date'], format='%Y-%m-%d')
measurement_df.head()
# measurement_df.loc[(measurement_df['date'] > "2017-01-01")]

       station        date  prcp  tobs
0  USC00511918  2010-01-01  0.05    66
1  USC00511918  2010-01-02  0.00    70
2  USC00511918  2010-01-03  0.00    75
3  USC00511918  2010-01-04  0.00    75
4  USC00511918  2010-01-05  0.00    75

In [4]:
station_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [5]:
engine = create_engine('sqlite:///hawaii.sqlite', echo=False)
conn = engine.connect()

In [6]:
#Creating Measurement and Station classes
class Measurement(Base):
    __tablename__ = "measurement"
    id = Column(Integer, primary_key = True)
    station = Column(String(255))
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Float)
    
class Station(Base):
    __tablename__ = "station"
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    location = Column(Float)

In [7]:
measurements_data = measurement_df.to_dict(orient='records')
station_data = station_df.to_dict(orient='records')
Base.metadata.create_all(engine)

In [8]:
metadata=MetaData(bind=engine)
metadata.reflect()

In [9]:
station_table = sqlalchemy.Table('station', metadata, autoload=True)
measurements_table = sqlalchemy.Table('measurement', metadata, autoload=True)

In [10]:
conn.execute(measurements_table.insert(), measurements_data)
conn.execute(station_table.insert(), station_data)

# Validation of table and data creation
1. Check tables created
2. Check column names and type
3. Check sample data

In [11]:
from sqlalchemy import create_engine, inspect, func
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [12]:
# Get a list of column names and types
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station VARCHAR(255)
date VARCHAR
prcp FLOAT
tobs FLOAT

In [13]:
engine.execute('SELECT * FROM measurement LIMIT 5').fetchall()

[(1, 'USC00511918', '2010-01-01', 0.05, 66.0),
 (2, 'USC00511918', '2010-01-02', 0.0, 70.0),
 (3, 'USC00511918', '2010-01-03', 0.0, 75.0),
 (4, 'USC00511918', '2010-01-04', 0.0, 75.0),
 (5, 'USC00511918', '2010-01-05', 0.0, 75.0)]

In [16]:
engine.execute('SELECT * FROM station LIMIT 5').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0, None),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6, None),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0, None),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9, None),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6, None)]

In [2]:
import pymongo
db = pymongo.MongoClient("mongodb://localhost:27017").classDB
db1 = pymongo.MongoClient("mongodb://localhost:27017").classDB

In [15]:
divers = db.divers
divers

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'classDB'), 'divers')

In [16]:
classroom = db.classroom
classroom

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'classDB'), 'classroom')

In [14]:
for student in divers:
    print(student)